img {
    width: 100%;
}

#projects p {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

.projectFeatureList li {
    font-size: 1rem;
}

.codeProject {
    display: flex;
    justify-content: center;
}

.codeProjectImage {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}