.navbarLink {
    color: rgb(56, 56, 56);
    margin: 15px;
    font-size: 19px;
    text-decoration: none;
    padding: 5px 20px;
    border: solid 1px black;

    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.navbarLink:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}