.socialMediaLink {
    display: flex;
    margin: 10px 10px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    text-decoration: none;
    font-size: 20px;
    
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;

    color: white;
}

.socialMediaLink:hover, .socialMediaLink:focus, .socialMediaLink:active {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    text-decoration: none !important;
    color: white;
}

.githubLink {
    background-color: #333;
}

.twitterLink {
    background-color: #1DA1F2;
}

.itchioLink {
    background-color: #fa5c5c;
}